.svgicon {
  width: 24px;
  height: 24px;
}

.forcescroll {
  overflow-x: scroll;
}

body {
  max-width: 1000px;
  min-width: 1000px;
}

.ui-section-header {
  font-weight: bolder;
  font-size: large;
  background-color: #ccc;
  margin: 0px;
}
.ui-section-body {
  color: #00f;
}

.ui-section {
  margin-bottom: 3px;
  border-top: #555 3px solid; 
  margin: 0px;
}

.text-form-input {
  width: 400px;
}

.text-form-pass {
  width: 370px;
}

.text-form-passconfirm {
  width: 370px;
  margin-left: 33px !important;
  margin-top: .3rem !important;
}